<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2011 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%
	local fs = require "nixio.fs"
	local util = require "luci.util"
	local nodes = require "luci.controller.admin.nodes"
	local ver = require "luci.version"
-%>

<%+header%>

<script type="text/javascript" src="<%=resource%>/cbi.js?v=git-16.358.28306-df0d765"></script>
<script type="text/javascript">//<![CDATA[
	
		XHR.poll(5, '<%=url('nodes')%>', null,
		function(x, data)
		{
			var ls = document.getElementById('node_count');
			if (ls)
			{
				ls.innerHTML = data.count;
			}
			
			var ls = document.getElementById('node_table');
			if (ls)
			{
				/* clear all rows */
				while( ls.rows.length > 1 )
					ls.rows[0].parentNode.deleteRow(1);

				for( var i = 0; i < data.nodes.length; i++ )
				{
					var tr = ls.rows[0].parentNode.insertRow(-1);
						tr.className = 'cbi-section-table-row cbi-rowstyle-' + ((i % 2) + 1);

					tr.insertCell(-1).innerHTML = i+1;
					tr.insertCell(-1).innerHTML = data.nodes[i].ip;
					tr.insertCell(-1).innerHTML = data.nodes[i].port;
					tr.insertCell(-1).innerHTML = data.nodes[i].mac;
					tr.insertCell(-1).innerHTML = data.nodes[i].via;
				}

				if( ls.rows.length == 1 )
				{
					var tr = ls.rows[0].parentNode.insertRow(-1);
						tr.className = 'cbi-section-table-row';

					var td = tr.insertCell(-1);
						td.colSpan = 4;
						td.innerHTML = '<em><br /><%:There are no connected nodes.%></em>';
				}
			}
		}
	);
//]]></script>

<h2 name="content"><%:gZ 6lowPAN Node Table%><span style="float:right"><%:# of nodes%>: <span id="node_count">0</span></span></h2>

<fieldset class="cbi-section">
	<table class="cbi-section-table" id="node_table">
		<tr class="cbi-section-table-titles">
			<th class="cbi-section-table-cell">#</th>
			<th class="cbi-section-table-cell"><%:IPv6-Address%></th>
			<th class="cbi-section-table-cell"><%:VPN Port%></th>
			<th class="cbi-section-table-cell"><%:MAC-Address%></th>
			<th class="cbi-section-table-cell"><%:Via%></th>
		</tr>
		<tr class="cbi-section-table-row">
			<td colspan="5"><em><br /><%:Collecting data...%></em></td>
		</tr>
	</table>
</fieldset>


<%+footer%>