<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2011 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%
	local fs = require "nixio.fs"
	local util = require "luci.util"
	local nodes = require "luci.controller.admin.nodes"
	local ver = require "luci.version"
-%>

<%+header%>

<script type="text/javascript" src="<%=resource%>/cbi.js?v=git-16.358.28306-df0d765"></script>
<script type="text/javascript">//<![CDATA[
	function wifirate(bss, rx) {
		var p = rx ? 'rx_' : 'tx_',
		    s = '%.1f <%:Mbit/s%>, %d<%:MHz%>'
					.format(bss[p+'rate'] / 1000, bss[p+'mhz']),
		    ht = bss[p+'ht'], vht = bss[p+'vht'],
			mhz = bss[p+'mhz'], nss = bss[p+'nss'],
			mcs = bss[p+'mcs'], sgi = bss[p+'short_gi'];

		if (ht || vht) {
			if (vht) s += ', VHT-MCS %d'.format(mcs);
			if (nss) s += ', VHT-NSS %d'.format(nss);
			if (ht)  s += ', MCS %s'.format(mcs);
			if (sgi) s += ', <%:Short GI%>';
		}

		return s;
	}
	
	var node;
		XHR.poll(5, '<%=url('wifinodes')%>', null,
		function(x, data)
		{
			var ls = document.getElementById('node_count');
			if (ls)
			{
				ls.innerHTML = data.count;
			}
			
			var ls = document.getElementById('node_table');
			if (ls)
			{
				/* clear all rows */
				while( ls.rows.length > 1 )
					ls.rows[0].parentNode.deleteRow(1);

				for( var i = 0; i < data.nodes.length; i++ )
				{
					var node = data.nodes[i];
					var icon;
					var q = (-1 * (node.noise - node.signal)) / 5;
					if (q < 1)
						icon = "<%=resource%>/icons/signal-0.png";
					else if (q < 2)
						icon = "<%=resource%>/icons/signal-0-25.png";
					else if (q < 3)
						icon = "<%=resource%>/icons/signal-25-50.png";
					else if (q < 4)
						icon = "<%=resource%>/icons/signal-50-75.png";
					else
						icon = "<%=resource%>/icons/signal-75-100.png";
					var tr = ls.rows[0].parentNode.insertRow(-1);
						tr.className = 'cbi-section-table-row cbi-rowstyle-' + ((i % 2) + 1);

					tr.insertCell(-1).innerHTML = i+1;
					//Hostname
					tr.insertCell(-1).innerHTML = node.host;
					//Address
					if(node.ipv4 && node.ipv6){
						tr.insertCell(-1).innerHTML = '%h<br/>%h'.format(node.ipv4, node.ipv6);
					}else if (node.ipv4 || node.ipv6){
						tr.insertCell(-1).innerHTML = '%h'.format(node.ipv4 || node.ipv6).nobr();
					}else{
						tr.insertCell(-1).innerHTML = '?';
					}
					//MAC-Address
					tr.insertCell(-1).innerHTML = node.mac;
					//Signal
					tr.insertCell(-1).innerHTML = String.format(
						'<span class="ifacebadge" title="<%:Signal%>: %d <%:dBm%> / <%:Noise%>: %d <%:dBm%> / <%:SNR%>: %d"><img src="%s" /> %d / %d <%:dBm%></span>',
						node.signal, node.noise, node.signal - node.noise,
						icon,
						node.signal, node.noise
					);
					//RX Rate
					tr.insertCell(-1).innerHTML = wifirate(node, true).nobr() + '<br />' + wifirate(node, false).nobr();
				}

				if( ls.rows.length == 1 )
				{
					var tr = ls.rows[0].parentNode.insertRow(-1);
						tr.className = 'cbi-section-table-row';

					var td = tr.insertCell(-1);
						td.colSpan = 6;
						td.innerHTML = '<em><br /><%:There are no connected nodes.%></em>';
				}
			}
		}
	);
//]]></script>

<h2 name="content"><%:gZ WiFi Node Table%><span style="float:right"><%:# of nodes%>: <span id="node_count">0</span></span></h2>

<fieldset class="cbi-section">
	<table class="cbi-section-table" id="node_table">
		<tr class="cbi-section-table-titles">
			<th class="cbi-section-table-cell">#</th>
			<th class="cbi-section-table-cell"><%:Hostname%></th>
			<th class="cbi-section-table-cell"><%:Address%></th>
			<th class="cbi-section-table-cell"><%:MAC-Address%></th>
			<th class="cbi-section-table-cell"><%:Signal%> / <%:Noise%></th>
			<th class="cbi-section-table-cell"><%:RX Rate%> / <%:TX Rate%></th>
		</tr>
		<tr class="cbi-section-table-row">
			<td colspan="6"><em><br /><%:Collecting data...%></em></td>
		</tr>
	</table>
</fieldset>
<%+footer%>